<div class="login-component">
  <div class="login-header">
    <h1>Welcome</h1>
  </div>
  <span class="login-sign-in-divider">or Login with your email and password</span>
  <div class="login-form">
    <section>
      <!-- Email input element --->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required type="email">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <!-- Password input element -->
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </section>
    <section class="example-section">
      <mat-checkbox class="example-margin" [(ngModel)]="rememberPassoword">Remember Password</mat-checkbox>
    </section>
    <hr>
    <section>
      <button class="w-100" mat-raised-button color="primary">Login</button>
    </section>
    <hr>
    <section class="social-login">
      <div>
        <button class="btn-login-google w-100" mat-raised-button><fa-icon [icon]="faGoogle"></fa-icon> Login with Google</button>
      </div>
      <div>
        <button class="btn-login-twitter w-100" mat-raised-button>Login with Twitter</button>
      </div>
      <div>
        <button class="btn-login-github w-100" mat-raised-button>Login with GitHub</button>
      </div>
      <div>
        <button class="btn-login-linkedIn w-100" mat-raised-button>Login with LinkedIn</button>
      </div>
      <div>
        <button class="btn-login-instagram w-100" mat-raised-button>Login with Instagram</button>
      </div>
    </section>
  </div>
</div>
